*background: #1c1b1a
*foreground: #f8f6f2
*cursorColor: #45d2f0
*scrollColor: #45413b

! black
*color0: #141413
*color8: #000000
! red
*color1: #ff0027
*color9: #ff0027
! green
*color2: #ffffff
*color10: #9c59cc
! yellow
*color3: #fade3e
*color11: #ffa724
! blue
*color12: #87837e
!*color4: #0a9dff
*color4: #ffffff
! magenta
*color5: #ff2b8b
*color13: #ff2b8b
! cyan
*color6: #84807c
*.color14: #84807c
!*color14: #45494d
! white
*color7: #d9cec3
*color15: #ffffff
st.*color4: #84807c
